@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap');

@import url("fonts.css");

@import url("reset.css");

body {
  font-family: 'Poppins';
  font-size: 18px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.header {}

.header--fyx {
  position: fixed;
  background: rgb(181, 238, 174);
  background: radial-gradient(circle, rgba(181, 238, 174, 0) 0%, rgba(78, 213, 19, 0.625109418767507) 100%);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 30px 0;
}

.header__container {
  max-width: 1255px;
  margin: 0 auto;
}

.menu__item {
  position: relative;
  display: inline-block;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  border-radius: 10px;
  font-family: 'Poppins';
  background-color: #d0f30c;
  display: inline-block;
  padding: 15px;
}

.menu__link:hover {
  background-color: #495304;
}

.menu__item:hover .sub-menu {
  visibility: visible;
}

.sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  visibility: hidden;
}

.sub-menu__item {

  border-radius: 10px;
  background-color: #586747;
  padding: 15px;
  opacity: 0.5;
}

.sub-menu__item:hover {
  background-color: #586747;
  opacity: 1;
}

.sub-menu__link {
  color: black;
}

.sub-menu__link,
.submit-menu__link:hover {
  text-decoration: underline;
}

.submit-menu {
  position: absolute;
  left: 100%;
  top: 100%;
  padding: 5px 0;
  border-radius: 5px;
  width: 150px;
  visibility: hidden;
}

.sub-menu__item:hover .submit-menu__item {
  visibility: visible;
}

.submit-menu__item {
  border: 1px solid black;
  border-radius: 10px;
  background-color: aquamarine;
  padding: 10px;
  width: max-content;
}


.item {
  font-size: 0;
  padding-top: 150px;
}

.item__container {
  max-width: 1255px;
  margin: 0 auto;
}

.item__top {
  margin-bottom: 31px;
}

.item__box:not(:last-child) {
  margin-right: 31px;
}

.item__box {
  position: relative;
  max-width: 396px;
  display: inline-block;
}

.item__image img {
  width: 100%;
}

.item__image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(107, 119, 229, 0.70);
}

.item__image:hover::before {
  opacity: 0.7;
}

.icon-item {
  height: max-content;
  visibility: hidden;
  position: absolute;
  top: 241px;
  left: 107px;
}

.item__box:hover .icon-item {
  visibility: visible;
}

.icon-item__link:not(:last-child) {
  margin-right: 13px;
}

.item__name {
  position: absolute;
  left: 22px;
  bottom: 22px;
  right: 22px;
  width: 89%;
  text-align: center;
  padding: 30px 40px;
  background-color: #fff;
}

.item__title {
  color: #37393F;
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 4px;
}


.item__text {
  color: #7D7D7D;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}