@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');

/* font-family: 'Cormorant Infant', serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */


@import url("fonts.css");

@import url("reset.css");

body {
  font-family: 'Inter';
  color: #7D7D7D;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.46;
}

.title {
  color: #37393F;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27;
}

.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

.header-title {
  color: #37393F;
  font-family: 'Poppins';
  font-size: 40px;
  line-height: 1.21;
}

.consulting {
  max-width: 732px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.consulting-top {
  margin-bottom: 40px;
}

.consulting-top .text {
  margin-bottom: 40px;
}

.blue {
  color: #6B77E5;
  margin-bottom: 12px;
  font-size: 20px;
}

.consulting-top>*:last-child {
  margin-bottom: 0;
}

.benefits {
  font-size: 0;
  margin-bottom: 50px;
}

.benefits-img {
  max-width: 331px;
  margin-right: 29px;
}

.benefits-info {
  display: inline-block;
  max-width: 332px;
  font-size: 18px;
}

.benefits-info .title {
  font-size: 25px;
  margin-bottom: 15px;
}

.title-benefits {
  color: #40DDB6;
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 1.27;
  margin-bottom: 21px;
}

.list-benefits {
  max-width: 313px;
}

.list-benefits-item:not(:last-child) {
  margin-bottom: 30px;
}

.list-benefits-item::before {
  content: "";
  background: url("../img/vector.png") no-repeat;
  display: inline-block;
  width: 27px;
  height: 28px;
  vertical-align: top;
}

.consulting-bottom .title {
  margin-bottom: 4px;
}




.about {
  max-width: 673px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about-top {
  margin-bottom: 48px;
}

.submit-title {
  color: #37393F;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.green::before {
  content: "";
  background: url("../img/green.png") no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.about-top .title {
  max-width: 414px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about .text:not(:last-child) {
  margin-bottom: 16px;
}

.block {
  border: 1px solid #E3E3E3;
  padding: 28px 41px 28px 38px;
  margin-bottom: 31px;
}

.block:last-child {
  margin-bottom: 0;
}


.block-wrap .title {
  font-size: 20px;
  margin-bottom: 12px;
}

.block-wrap .title::before {
  margin-right: 15px;
  content: "";
  background: url("../img/vector.png") no-repeat;
  display: inline-block;
  width: 27px;
  height: 28px;
  vertical-align: top;
}

.block-wrap .text {
  padding-left: 46px;
}

.block-link {
  font-weight: 600;
  color: #fff;
  display: inline-block;
  background-color: #6B77E5;
  padding: 21px 35px 22px 35px;
}

.work {
  max-width: 1220px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.work-top {
  text-align: center;
  margin-bottom: 41px;
}

.work-top .title {
  font-size: 40px;
  font-weight: 700;
}

.content-icon {
  display: inline-block;
  background-color: #F4F4F4;
}

.content-grup {
  max-width: 386px;
  display: inline-block;
  padding: 58px 43px 58px;
  background: url("../img/icon.png")50% 0 no-repeat;
  margin-top: -35px;
}

.content-inner {
  padding-top: 30px;
  max-width: 300px;
  text-align: center;

}

.content-inner .title {
  font-size: 25px;
  margin-bottom: 16px;
}

.content-inner .text {
  margin-bottom: 37px;
}

.content-link {
  color: #6B77E5;
  font-weight: 600;
}