*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/causten_bold-webfont.woff2") format("woff2"), url("../fonts/causten_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten_medium-webfont.woff2") format("woff2"), url("../fonts/causten_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten_regular-webfont.woff2") format("woff2"), url("../fonts/causten_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten_semi_bold-webfont.woff2") format("woff2"), url("../fonts/causten_semi_bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  color: #3c4242;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 400;
}

.title {
  font-family: "Core Sans C";
  font-size: 28px;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 0.56px;
}

.page__container {
  max-width: 952px;
  margin: 0 auto;
  padding: 0 15px;
}
.page__title {
  margin-bottom: 20px;
}
.page__subtitle {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.44px;
  margin-bottom: 50px;
}

.form__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 42px;
  grid-row-gap: 31px;
}
@media (max-width: 650px) {
  .form__body {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .form__body {
    grid-row-gap: 15px;
  }
}
.form__body--margin {
  margin-bottom: 30px;
}
.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 375px) {
  .form__item:not(:last-child):after {
    content: "";
    border-bottom: 1px solid #d0cbcb;
    padding-bottom: 8px;
  }
}
@media (max-width: 650px) {
  .form__item {
    min-width: 250px;
  }
}
.form__lable {
  font-weight: 600;
  letter-spacing: 0.36px;
}
.form__input {
  padding: 17px 21px;
  border-radius: 8px;
  background: #f6f6f6;
  color: #807d7e;
  font-size: 16px;
  outline: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__input:focus {
  outline: 2px solid black;
  color: black;
}
.form__input:hover {
  background: #d0cbcb;
}
.form__item--textarea {
  grid-column: span 2;
}
@media (max-width: 650px) {
  .form__item--textarea {
    grid-column: span 1;
  }
}
.form__textarea {
  padding: 17px 21px;
  border-radius: 8px;
  background-color: #f6f6f6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: 2px solid transparent;
}
.form__textarea:focus {
  outline: 2px solid black;
  color: black;
}
.form__textarea:hover {
  background: #d0cbcb;
}

.form__box--margin {
  margin-bottom: 60px;
}

.checkbox {
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 12px;
}
.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__label {
  outline: 1px solid #fff;
}
.checkbox__input:checked + .checkbox__label:before {
  background-color: #8a33fd;
}
.checkbox__label {
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 375px) {
  .checkbox__label {
    font-size: 16px;
  }
}
.checkbox__label::before {
  width: 15px;
  height: 15px;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  content: "";
  outline: 2px solid rgb(190, 188, 189);
  margin-right: 10px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  max-width: 295px;
}
.button__form {
  padding: 12px 40px;
  background-color: #8a33fd;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button__form:hover {
  outline: 1px solid #8a33fd;
  background-color: #fff;
  color: #807d7e;
}
.button__form--grey {
  background-color: #f6f6f6;
  color: #807d7e;
}
.button__form--grey:hover {
  background-color: rgb(60, 66, 66);
  outline: 1px solid #807d7e;
}