@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@import url("fonts.css");

@import url("reset.css");


.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.products__container {
  max-width: 1270px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}



/* .products__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
} */



.products__content {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(605px, 1fr));
}

.item {
  background-image: url("../img/image-1.webp");
  border-radius: 12px;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  padding-bottom: 79px;
  padding-top: 67px;
  padding-left: 28px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.40);
}

.item--violette {
  background-image: url("../img/image-2.webp");
}

@media (max-width:640px) {
  .products__content {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media (max-width:400px) {
  .products__content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}



.item__text {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 800;
  line-height: 30.067px;
  letter-spacing: 0.251px;
  margin-bottom: 24px;
}

.item__title {
  max-width: 264px;
  color: #FFF;
  font-family: 'Core Sans C';
  font-size: 34px;
  font-weight: 800;
  line-height: 45.1px;
  margin-bottom: 9px;
}

.item__bar {
  color: #FFF;
  font-family: 'Core Sans C';
  font-size: 16px;
  font-weight: 500;
  line-height: 25.056px;
  letter-spacing: 0.251px;
  margin-bottom: 40px;
}

.item__link {
  color: #FFF;
  font-family: 'Core Sans C';
  font-size: 20px;
  font-weight: 800;
  line-height: 30.132px;
  text-decoration-line: underline;
}