@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-size: 1.125rem;
  font-family: "inter";
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 50;
}
.header__top {
  background: #37393f;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}
@media (max-width: 48rem) {
  .header__top {
    display: none;
  }
}
.header__container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  max-width: 77.8125rem;
}

.info {
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.info__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  row-gap: 1.25rem;
  font-style: normal;
}
.info__address p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
}
.info__address p:before {
  background: url("../img/icon-adress.svg") 0 0/contain no-repeat;
  content: "";
  width: 0.970625rem;
  height: 1.38rem;
}
.info__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.6875rem;
}
.info__mail:before {
  background: url("../img/mail.svg") 0 0/contain no-repeat;
  content: "";
  width: 1.2618125rem;
  height: 0.970625rem;
}
.info__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.125rem;
  row-gap: 1.25rem;
}
.info__other p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}
.info__other p:before {
  background: url("../img/time.svg") 0 0/contain no-repeat;
  content: "";
  width: 0.892625rem;
  height: 0.892625rem;
}
.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.info__link img {
  height: 1.125rem;
  width: 1.125rem;
}

.header__body {
  padding: 2.0625rem 0rem;
  font-weight: 400;
  background-color: #fff;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
.header__logo {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.125rem;
  color: #37393f;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 31.25rem) {
  .header__logo p {
    display: none;
  }
}
.header__logo span {
  color: #6b77e5;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 48rem) {
  .header__navigation {
    gap: 0.625rem;
  }
}
@media (max-width: 48rem) {
  .header__button {
    padding: 0.9375rem 1.5625rem;
  }
}

@media (max-width: 953px) {
  .menu__body {
    position: fixed;
    top: 1.5625rem;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #d4d7d7;
    color: black;
    overflow: auto;
    opacity: 0.9;
    padding: 100px 15px 30px 15px;
    font-size: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__body ::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 114px;
    background: #74f3b3;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
.menu__list {
  color: #37393f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  row-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 953px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 59.5625rem) {
  .icon-menu {
    display: block;
    width: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 20px;
    position: relative;
  }
  .icon-menu:before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media (max-width: 1070px) {
  .menu-open .menu__body {
    left: 0px;
  }
  .menu-open .menu__body ::before {
    left: 0px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
  }
  .menu-open .icon-menu::before {
    -webkit-transform: translate(0, -100%) rotate(-45deg);
        -ms-transform: translate(0, -100%) rotate(-45deg);
            transform: translate(0, -100%) rotate(-45deg);
    top: 50%;
  }
}

.hero {
  color: #fff;
  padding-top: 11.875rem;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/photo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 636px;
          flex: 0 1 636px;
  background-color: rgba(55, 57, 63, 0.91);
}
@media (max-width: 48rem) {
  .hero__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100vw;
            flex: 0 1 100vw;
  }
}
.hero__iner {
  padding: 10%;
}
@media (max-width: 23.4375rem) {
  .hero__iner {
    padding: 5%;
  }
}
.hero__sub-title {
  font-size: 1.125rem;
  margin-bottom: 0.5555555556em;
}
@media (max-width: 47.998125em) {
  .hero__sub-title {
    font-size: 1rem;
  }
}
.hero__title {
  font-family: "Poppins";
  font-size: 3.75rem;
  margin-bottom: 0.3333333333em;
  font-weight: 700;
  line-height: 110%;
}
.hero__title span {
  color: #40ddb6;
}
@media (max-width: 47.998125em) {
  .hero__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 23.4375em) {
  .hero__title {
    font-size: 1.875rem;
  }
}
.hero__text {
  color: #b9b9b9;
  font-weight: 500;
  line-height: 1.46;
  margin-bottom: 1.9444444444em;
  max-width: 30.125rem;
}
@media (max-width: 47.998125em) {
  .hero__text {
    font-size: 1rem;
  }
}
.watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.watch__iner {
  position: relative;
  border-radius: 50%;
  height: 3.75rem;
  width: 3.75rem;
  background-color: rgb(107, 119, 229);
}
.watch__iner:hover img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.watch__iner img {
  position: absolute;
  height: 21px;
  width: 13px;
  left: 43%;
  top: 32%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.watch__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.button {
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #fff;
  font-family: "Cabin";
  font-weight: 600;
  background: #6b77e5;
  padding: 1.3125rem 2.1875rem;
}

.title-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 1.46;
}
.title-green:before {
  content: "";
  height: 11px;
  width: 11px;
  background-color: #40ddb6;
}