@import url("fonts.css");

@import url("reset.css");

body {
  font-size: 20px;
}

p {
  outline: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(130, 130, 8);
}

p img {
  max-width: 400px;
}

.container p:not(:last-child) {
  margin-bottom: 20px;
}

.header {
  background-color: rgb(233, 147, 36);
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 40px;
}

.container {
  background-color: rgb(234, 229, 222);
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 20px;
}